# Build artifacts
.stack-work/
dist/
dist-*
dist-newstyle/
public/
cabal-dev/
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
.hsenv
.HTF/
.ghc.environment.*

# Executables and other build outputs
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.tix
*.hpc
*.eventlog
*.hp
*.aux
*.dump-*
*.exe
*.dll
*.so
*.dylib

# Editor-specific files
*~
.#*
.#*#
*.swp
*.swo
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other common files to ignore
.ghci
.history
